# Public Company Financial Data

Author: Phuoc Le<br>
Google Colab Version: Version 2<br>
Data Source: Yahoo Finance

## Libraries Import

Import Python libraries needed for the notebook.  First we need to install some additional libraries.

In [2]:
!pip install yahoo-finance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yahoo-finance
  Downloading yahoo-finance-1.4.0.tar.gz (8.9 kB)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from yahoo-finance) (2022.1)
Collecting simplejson
  Downloading simplejson-3.17.6-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (130 kB)
     |████████████████████████████████| 130 kB 4.0 MB/s
Building wheels for collected packages: yahoo-finance
  Building wheel for yahoo-finance (setup.py) ... done
  Created wheel for yahoo-finance: filename=yahoo_finance-1.4.0-py3-none-any.whl size=7233 sha256=2ad75a993adda6314b6bdc9a094b80fbe3a9eb9e72fb706d0c1484aedb3aefed
  Stored in directory: /root/.cache/pip/wheels/74/3c/6e/504622cec9991612b9e3945fe8b375fef727854b42eb333c91
Successfully built yahoo-finance
Installing collected packages: simplejson, yahoo-finance
Successfully installed simplejson-3.17.6 yahoo-finance-1.4.0

In [3]:
!pip install requests_html

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests_html in /usr/local/lib/python3.7/dist-packages (0.10.0)
Requirement already satisfied: parse in /usr/local/lib/python3.7/dist-packages (from requests_html) (1.19.0)
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (from requests_html) (0.0.1)
Requirement already satisfied: fake-useragent in /usr/local/lib/python3.7/dist-packages (from requests_html) (0.1.11)
Requirement already satisfied: pyquery in /usr/local/lib/python3.7/dist-packages (from requests_html) (1.4.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from requests_html) (2.23.0)
Requirement already satisfied: pyppeteer>=0.0.14 in /usr/local/lib/python3.7/dist-packages (from requests_html) (1.0.2)
Requirement already satisfied: w3lib in /usr/local/lib/python3.7/dist-packages (from requests_html) (1.22.0)
Requirement already satisfied: websockets<11.0,>=10.0 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (10.3)
Requirement already satisfied: pyee<9.0.0,>=8.1.0 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (8.2.2)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (4.11.3)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (4.64.0)
Requirement already satisfied: urllib3<2.0.0,>=1.25.8 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (1.25.11)
Requirement already satisfied: certifi>=2021 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (2022.5.18.1)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (1.4.4)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests_html) (4.2.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests_html) (3.8.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4->requests_html) (4.6.3)
Requirement already satisfied: lxml>=2.1 in /usr/local/lib/python3.7/dist-packages (from pyquery->requests_html) (4.2.6)
Requirement already satisfied: cssselect>0.7.9 in /usr/local/lib/python3.7/dist-packages (from pyquery->requests_html) (1.1.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->requests_html) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->requests_html) (2.10)
Requirement already satisfied: six>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from w3lib->requests_html) (1.15.0)

In [6]:
import yahoo_fin.stock_info as si
import pandas as pd
import plotly.express as px
from tqdm import tqdm

## Define List of Companies to Research

Enter list of stocks as a Python list

In [7]:
companies = ["AAPL", "MSFT", "WMT", "TGT", "MCD", "KO", "KMB", "RY"]

## Retrieve Financial Information for our Companies

1. The first thing to do is to retrieve the data.  Depending on how long the company list is, it may take a while.  We can't run Step 2 to clean up the data until this is complete, so be patient!  Wait for the indicator to get to 100% before proceeding.

In [8]:
# Get data in the current column for each stock's valuation table
# df1 contains basic company data
# df2 contains extra data

ticker_stats = {}
for ticker in companies:
    temp = si.get_stats_valuation(ticker)
    temp = temp.iloc[:,:2]
    temp.columns = ["Attribute", "Recent"]
 
    ticker_stats[ticker] = temp


# combine all the stats valuation tables into a single data frame
df1 = pd.concat(ticker_stats)
df1 = df1.reset_index()

del df1["level_1"]

# update column names
df1.columns = ["Ticker", "Attribute", "Recent"]

# Get extra stats
ticker_extra_stats = {}
for ticker in tqdm(companies):
    ticker_extra_stats[ticker] = si.get_stats(ticker)
    

df2 = pd.concat(ticker_extra_stats)

df2 = df2.reset_index()

del df2["level_1"]

df2.columns = ["Ticker", "Attribute", "Value"]

100%|██████████| 8/8 [00:06<00:00,  1.31it/s]

2. Now we do the data clean up, type conversions, and merging of the data into a final dataframe called **company_data** which we can now use.

In [9]:
# Convert from long dataframe to wide dataframe using the pivot() method.
df1_wide = df1.pivot(index = "Ticker", columns="Attribute", values="Recent")
df2_wide = df2.pivot(index = "Ticker", columns="Attribute", values="Value")

# Clean up column names to remove footnote indicators
df1_wide.rename(columns = {"Enterprise Value 3":"Enterprise Value"}, inplace = True)
df1_wide.rename(columns = {"Enterprise Value/EBITDA 6":"Enterprise Value/EBITDA"}, inplace = True)
df1_wide.rename(columns = {"Enterprise Value/Revenue 3":"Enterprise Value/Revenue"}, inplace = True)
df1_wide.rename(columns = {"Forward P/E 1":"Forward P/E"}, inplace = True)
df1_wide.rename(columns = {"Market Cap (intraday) 5":"Market Cap (intraday)"}, inplace = True)
df1_wide.rename(columns = {"PEG Ratio (5 yr expected) 1":"PEG Ratio (5 yr expected)"}, inplace = True)

df2_wide.rename(columns = {"% Held by Insiders 1":"% Held by Insiders"}, inplace = True)
df2_wide.rename(columns = {"% Held by Institutions 1":"% Held by Institutions"}, inplace = True)
df2_wide.rename(columns = {"200-Day Moving Average 3":"200-Day Moving Average"}, inplace = True)
df2_wide.rename(columns = {"5 Year Average Dividend Yield 4":"5 Year Average Dividend Yield %"}, inplace = True)
df2_wide.rename(columns = {"50-Day Moving Average 3":"50-Day Moving Average"}, inplace = True)
df2_wide.rename(columns = {"52 Week High 3":"52 Week High"}, inplace = True)
df2_wide.rename(columns = {"52 Week Low 3":"52 Week Low"}, inplace = True)
df2_wide.rename(columns = {"52-Week Change 3":"52-Week Change %"}, inplace = True)
df2_wide.rename(columns = {"Avg Vol (10 day) 3":"Avg Vol (10 day)"}, inplace = True)
df2_wide.rename(columns = {"Avg Vol (3 month) 3":"Avg Vol (3 month)"}, inplace = True)
df2_wide.rename(columns = {"Dividend Date 3":"Dividend Date"}, inplace = True)
df2_wide.rename(columns = {"Ex-Dividend Date 4":"Ex-Dividend Date"}, inplace = True)
df2_wide.rename(columns = {"Forward Annual Dividend Rate 4":"Forward Annual Dividend Rate"}, inplace = True)
df2_wide.rename(columns = {"Forward Annual Dividend Yield 4":"Forward Annual Dividend Yield %"}, inplace = True)
df2_wide.rename(columns = {"Last Split Date 3":"Last Split Date"}, inplace = True)
df2_wide.rename(columns = {"Last Split Factor 2":"Last Split Factor"}, inplace = True)
df2_wide.rename(columns = {"Operating Margin (ttm)":"Operating Margin (ttm) %"}, inplace = True)
df2_wide.rename(columns = {"Payout Ratio 4":"Payout Ratio %"}, inplace = True)
df2_wide.rename(columns = {"Profit Margin":"Profit Margin %"}, inplace = True)
df2_wide.rename(columns = {"Quarterly Earnings Growth (yoy)":"Quarterly Earnings Growth (yoy) %"}, inplace = True)
df2_wide.rename(columns = {"Quarterly Revenue Growth (yoy)":"Quarterly Revenue Growth (yoy) %"}, inplace = True)
df2_wide.rename(columns = {"Return on Assets (ttm)":"Return on Assets (ttm) %"}, inplace = True)
df2_wide.rename(columns = {"Return on Equity (ttm)":"Return on Equity (ttm) %"}, inplace = True)
df2_wide.rename(columns = {"S&P500 52-Week Change 3":"S&P500 52-Week Change %"}, inplace = True)
df2_wide.rename(columns = {"Shares Outstanding 5":"Shares Outstanding"}, inplace = True)
df2_wide.rename(columns = {"Trailing Annual Dividend Rate 3":"Trailing Annual Dividend Rate"}, inplace = True)
df2_wide.rename(columns = {"Trailing Annual Dividend Yield 3":"Trailing Annual Dividend Yield %"}, inplace = True)

# Convert string values to float as necessary
df1_wide['Trailing P/E'] = df1_wide['Trailing P/E'].astype(float)
df1_wide['Enterprise Value/EBITDA'] = df1_wide['Enterprise Value/EBITDA'].astype(float)
df1_wide['Enterprise Value/Revenue'] = df1_wide['Enterprise Value/Revenue'].astype(float)
df1_wide['Forward P/E'] = df1_wide['Forward P/E'].astype(float)
df1_wide['PEG Ratio (5 yr expected)'] = df1_wide['PEG Ratio (5 yr expected)'].astype(float)
df1_wide['Price/Book (mrq)'] = df1_wide['Price/Book (mrq)'].astype(float)
df1_wide['Price/Sales (ttm)'] = df1_wide['Price/Sales (ttm)'].astype(float)

df2_wide['% Held by Insiders'] = df2_wide['% Held by Insiders'].str.strip('%').astype('float') / 100.0
df2_wide['% Held by Institutions'] = df2_wide['% Held by Institutions'].str.strip('%').astype('float') / 100.0
df2_wide['5 Year Average Dividend Yield %'] = df2_wide['5 Year Average Dividend Yield %'].astype(float) / 100.0
df2_wide['50-Day Moving Average'] = df2_wide['50-Day Moving Average'].astype(float)
df2_wide['52 Week High'] = df2_wide['52 Week High'].astype(float)
df2_wide['52 Week Low'] = df2_wide['52 Week Low'].astype(float)
df2_wide['52-Week Change %'] = df2_wide['52-Week Change %'].str.strip('%').astype('float') / 100.0
df2_wide['Beta (5Y Monthly)'] = df2_wide['Beta (5Y Monthly)'].astype(float)
df2_wide['Book Value Per Share (mrq)'] = df2_wide['Book Value Per Share (mrq)'].astype(float)
df2_wide['Current Ratio (mrq)'] = df2_wide['Current Ratio (mrq)'].astype(float)
df2_wide['Diluted EPS (ttm)'] = df2_wide['Diluted EPS (ttm)'].astype(float)
df2_wide['Forward Annual Dividend Rate'] = df2_wide['Forward Annual Dividend Rate'].astype(float)
df2_wide['Forward Annual Dividend Yield %'] = df2_wide['Forward Annual Dividend Yield %'].str.strip('%').astype('float') / 100.0
df2_wide['Operating Margin (ttm) %'] = df2_wide['Operating Margin (ttm) %'].str.strip('%').astype('float') / 100.0
df2_wide['Payout Ratio %'] = df2_wide['Payout Ratio %'].str.strip('%').astype('float') / 100.0
df2_wide['Profit Margin %'] = df2_wide['Profit Margin %'].str.strip('%').astype('float') / 100.0
df2_wide['Quarterly Earnings Growth (yoy) %'] = df2_wide['Quarterly Earnings Growth (yoy) %'].str.strip('%').astype('float') / 100.0
df2_wide['Quarterly Revenue Growth (yoy) %'] = df2_wide['Quarterly Revenue Growth (yoy) %'].str.strip('%').astype('float') / 100.0
df2_wide['Return on Assets (ttm) %'] = df2_wide['Return on Assets (ttm) %'].str.strip('%').astype('float') / 100.0
df2_wide['Return on Equity (ttm) %'] = df2_wide['Return on Equity (ttm) %'].str.strip('%').astype('float') / 100.0
df2_wide['Revenue Per Share (ttm)'] = df2_wide['Revenue Per Share (ttm)'].astype(float)
df2_wide['S&P500 52-Week Change %'] = df2_wide['S&P500 52-Week Change %'].str.strip('%').astype('float') / 100.0
df2_wide['Total Cash Per Share (mrq)'] = df2_wide['Total Cash Per Share (mrq)'].astype(float)
df2_wide['Total Debt/Equity (mrq)'] = df2_wide['Total Debt/Equity (mrq)'].astype(float)
df2_wide['Trailing Annual Dividend Rate'] = df2_wide['Trailing Annual Dividend Rate'].astype(float)
df2_wide['Trailing Annual Dividend Yield %'] = df2_wide['Trailing Annual Dividend Yield %'].str.strip('%').astype('float') / 100.0
df2_wide['200-Day Moving Average'] = df2_wide['200-Day Moving Average'].astype(float)

# Merge the dataframes into company_data
company_data = pd.concat([df1_wide, df2_wide], axis=1, join='inner')

Here we display the dataframe's content so we know what we're working with:

In [10]:
company_data.head(10)

Attribute,Enterprise Value,Enterprise Value/EBITDA,Enterprise Value/Revenue,Forward P/E,Market Cap (intraday),PEG Ratio (5 yr expected),Price/Book (mrq),Price/Sales (ttm),Trailing P/E,% Held by Insiders,...,"Shares Short (prior month Apr 13, 2022) 4","Short % of Float (May 12, 2022) 4","Short % of Shares Outstanding (May 12, 2022) 4","Short Ratio (May 12, 2022) 4",Total Cash (mrq),Total Cash Per Share (mrq),Total Debt (mrq),Total Debt/Equity (mrq),Trailing Annual Dividend Rate,Trailing Annual Dividend Yield %
Ticker,,,,,,,,,,,,,,,,,,,,,
AAPL,2.29T,17.23,5.94,22.57,2.22T,2.49,32.98,5.90,22.33,0.0007,...,103.29M,0.67%,0.67%,1.03,51.51B,3.18,119.98B,178.02,0.88,0.0063
KMB,52.06B,16.41,2.63,22.37,43.48B,2.88,61.67,2.21,24.91,0.0016,...,8.98M,2.28%,2.28%,3.2,493M,1.46,9.33B,1092.51,4.58,0.0349
KO,295.70B,18.64,7.37,24.63,264.35B,3.38,10.64,6.61,25.73,0.0066,...,28.08M,0.73%,0.72%,1.69,10.36B,2.39,42.14B,157.01,1.70,0.0265
MCD,214.57B,18.21,9.03,23.15,169.36B,3.52,NaN,7.24,24.18,0.0016,...,5.95M,0.83%,0.83%,2.22,2.36B,3.19,47.59B,NaN,5.34,0.0219
MSFT,1.85T,18.72,9.58,23.42,1.89T,1.70,11.59,9.91,26.36,0.0008,...,35.58M,0.51%,0.51%,1.07,104.66B,13.99,77.98B,47.86,2.42,0.0092
RY,NaN,NaN,NaN,11.19,139.31B,NaN,1.89,3.88,11.18,0.0001,...,7.23M,NaN,0.89%,11.78,683.12B,482.21,363.67B,NaN,4.44,0.0442
TGT,85.41B,7.14,0.81,11.07,74.93B,1.24,5.84,0.75,11.46,0.0022,...,10.49M,1.81%,1.80%,2.45,1.11B,2.40,17.32B,160.78,3.38,0.0216
WMT,370.34B,12.22,0.64,17.76,327.77B,2.63,3.94,0.58,24.45,0.4770,...,13.33M,0.90%,0.47%,1.8,11.82B,4.29,66.82B,77.82,1.65,0.0134

## Plot basic valuation data to find value investments

In [11]:
# Plot out the data
chart1 = px.scatter(company_data,
                   x='Quarterly Revenue Growth (yoy) %',
                   y='Price/Sales (ttm)',
                   size = "Trailing P/E",
                   hover_name = company_data.index,
                   title="Quarterly Revenue Growth (yoy) % vs. Price/Sales (ttm) vs. Trailing P/E",
                   width=1250,
                   height=700)

# Update chart layouts
chart1.update_layout(
    margin=dict(l=20, r=20, t=40, b=20),
    paper_bgcolor="#ffffff",
)

chart1.show()

## Plot dividend data to research dividend stocks

In [12]:
# Plot out the data
chart1 = px.scatter(company_data,
                   x='Payout Ratio %',
                   y='Trailing Annual Dividend Yield %',
                   size = "5 Year Average Dividend Yield %",
                   hover_name = company_data.index,
                   title="Payout Ratio %' vs. Trailing Annual Dividend Yield % vs. 5 Year Average Dividend Yield %",
                   width=900,
                   height=500)

# Update chart layouts
chart1.update_layout(
    margin=dict(l=20, r=20, t=40, b=20),
    paper_bgcolor="#eeeeee",
)

chart1.show()

# Retrieve Financial Statements for our Companies

We'll start by pulling the Balance Sheet and then move on to the Income Statement & Cash Flow Statement.

## Balance Sheet

We'll start by getting the Balance Sheet for one company.  That's done like this:

In [13]:
balance_sheet = si.get_balance_sheet("aapl")

display(balance_sheet)

endDate,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Breakdown,,,,
totalLiab,287912000000,258549000000,248028000000,258578000000
totalStockholderEquity,63090000000,65339000000,90488000000,107147000000
otherCurrentLiab,53577000000,47867000000,43242000000,39293000000
totalAssets,351002000000,323888000000,338516000000,365725000000
commonStock,57365000000,50779000000,45174000000,40201000000
otherCurrentAssets,14111000000,11264000000,12352000000,12087000000
retainedEarnings,5562000000,14966000000,45898000000,70400000000
otherLiab,43050000000,46108000000,50503000000,48914000000
treasuryStock,163000000,-406000000,-584000000,-3454000000
otherAssets,38762000000,33952000000,32978000000,22283000000
cash,34940000000,38016000000,48844000000,25913000000
totalCurrentLiabilities,125481000000,105392000000,105718000000,115929000000
shortLongTermDebt,9613000000,8773000000,10260000000,8784000000
otherStockholderEquity,163000000,-406000000,-584000000,-3454000000
propertyPlantEquipment,49527000000,45336000000,37378000000,41304000000
totalCurrentAssets,134836000000,143713000000,162819000000,131339000000
longTermInvestments,127877000000,100887000000,105341000000,170799000000
netTangibleAssets,63090000000,65339000000,90488000000,107147000000
shortTermInvestments,27699000000,52927000000,51713000000,40388000000
netReceivables,51506000000,37445000000,45804000000,48995000000
longTermDebt,109106000000,98667000000,91807000000,93735000000
inventory,6580000000,4061000000,4106000000,3956000000
accountsPayable,54763000000,42296000000,46236000000,55888000000

But what's more interesting is to get the Balance Sheets for **<u>all</u>** the companies in our list.  That way we can combine them and do interesting things with them.  That's done with the following code:

In [14]:
balance_sheets = {}
for ticker in companies:
    balance_sheets[ticker] = si.get_balance_sheet(ticker)

Now that all the balance sheets are combined, we can look at values from the balance sheets across multiple companies at once.  Since each individual balance sheet may have different column headers (from different dates), we’ll just get the most recent column of data from the balance sheet for each stock.  This code combines the most recent columns from the balance sheets of all companies into one dataframe.

In [15]:
recent_sheets = {ticker : sheet.iloc[:,:1] for ticker,sheet in balance_sheets.items()}

for ticker in recent_sheets.keys():
    recent_sheets[ticker].columns = ["Recent"]

# combine all balance sheets together
combined_sheets = pd.concat(recent_sheets)

# reset index to pull in ticker
combined_sheets = combined_sheets.reset_index()

# update column names
combined_sheets.columns = ["Ticker", "Breakdown", "Recent"]

combined_sheets

    Ticker               Breakdown        Recent
0     AAPL               totalLiab  2.879120e+11
1     AAPL  totalStockholderEquity  6.309000e+10
2     AAPL        otherCurrentLiab  5.357700e+10
3     AAPL             totalAssets  3.510020e+11
4     AAPL             commonStock  5.736500e+10
..     ...                     ...           ...
203     RY       netTangibleAssets  7.665800e+10
204     RY    shortTermInvestments  3.875410e+11
205     RY          netReceivables  1.334200e+10
206     RY            longTermDebt  1.015120e+11
207     RY         accountsPayable  1.102698e+12

[208 rows x 3 columns]

From here, we can pull any data from the balance sheets of all the companies. For example, we can look at the Total Assets for each stock like this:

In [16]:
combined_sheets[combined_sheets.Breakdown == "longTermDebt"]

    Ticker     Breakdown        Recent
20    AAPL  longTermDebt  1.091060e+11
46    MSFT  longTermDebt  5.007400e+10
72     WMT  longTermDebt  3.595900e+10
98     TGT  longTermDebt  1.158200e+10
124    MCD  longTermDebt  3.562680e+10
153     KO  longTermDebt  3.813000e+10
179    KMB  longTermDebt  8.107000e+09
206     RY  longTermDebt  1.015120e+11

## Income Statements

Income statements can be downloaded from Yahoo Finance using the get_income_statement method:

In [17]:
income = si.get_income_statement("aapl")

display(income)

endDate,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Breakdown,,,,
researchDevelopment,21914000000,18752000000,16217000000,14236000000
effectOfAccountingCharges,None,None,None,None
incomeBeforeTax,109207000000,67091000000,65737000000,72903000000
minorityInterest,None,None,None,None
netIncome,94680000000,57411000000,55256000000,59531000000
sellingGeneralAdministrative,21973000000,19916000000,18245000000,16705000000
grossProfit,152836000000,104956000000,98392000000,101839000000
ebit,108949000000,66288000000,63930000000,70898000000
operatingIncome,108949000000,66288000000,63930000000,70898000000
otherOperatingExpenses,None,None,None,None
interestExpense,-2645000000,-2873000000,-3576000000,-3240000000
extraordinaryItems,None,None,None,None
nonRecurring,None,None,None,None
otherItems,None,None,None,None
incomeTaxExpense,14527000000,9680000000,10481000000,13372000000
totalRevenue,365817000000,274515000000,260174000000,265595000000
totalOperatingExpenses,256868000000,208227000000,196244000000,194697000000
costOfRevenue,212981000000,169559000000,161782000000,163756000000
totalOtherIncomeExpenseNet,258000000,803000000,1807000000,2005000000
discontinuedOperations,None,None,None,None
netIncomeFromContinuingOps,94680000000,57411000000,55256000000,59531000000
netIncomeApplicableToCommonShares,94680000000,57411000000,55256000000,59531000000

Using the income statement, we can examine specific values, such as total revenue, gross profit, total expenses, etc.

To get the **total revenue**, we just need to apply a filter like previously.  Other items like **grossProfit**, **operatingIncome**, etc. works the same.

In [18]:
income.loc["totalRevenue"]

endDate
2021-09-25    365817000000
2020-09-26    274515000000
2019-09-28    260174000000
2018-09-29    265595000000
Name: totalRevenue, dtype: object

## Getting the income statement from each company in our list

Next, let’s retrieve the income statement for each company in our **companies** list.

In [19]:
income_statements = {}
for ticker in companies:
    income_statements[ticker] = si.get_income_statement(ticker)

Now, we can look at metrics in the income statement across multiple companies at once. First, we just need to combine the income statements together, similar to how we combined the balance sheets above.

In [20]:
recent_income_statements = {ticker : sheet.iloc[:,:1] for ticker,sheet in income_statements.items()}

for ticker in recent_income_statements.keys():
    recent_income_statements[ticker].columns = ["Recent"]

combined_income = pd.concat(recent_income_statements)

combined_income = combined_income.reset_index()

combined_income.columns = ["Ticker", "Breakdown", "Recent"]

Now that we have a combined view of the income statements across companies, we can examine specific values in the income statements, such as Total Revenue, for example.

In [21]:
combined_income[combined_income.Breakdown == "totalRevenue"]

    Ticker     Breakdown        Recent
15    AAPL  totalRevenue  365817000000
37    MSFT  totalRevenue  168088000000
59     WMT  totalRevenue  572754000000
81     TGT  totalRevenue  106005000000
103    MCD  totalRevenue   23222900000
125     KO  totalRevenue   38655000000
147    KMB  totalRevenue   19440000000
169     RY  totalRevenue   50446000000

In [22]:
combined_income

    Ticker                          Breakdown        Recent
0     AAPL                researchDevelopment   21914000000
1     AAPL          effectOfAccountingCharges          None
2     AAPL                    incomeBeforeTax  109207000000
3     AAPL                   minorityInterest          None
4     AAPL                          netIncome   94680000000
..     ...                                ...           ...
171     RY                      costOfRevenue             0
172     RY         totalOtherIncomeExpenseNet   -1287000000
173     RY             discontinuedOperations          None
174     RY         netIncomeFromContinuingOps   16050000000
175     RY  netIncomeApplicableToCommonShares   15781000000

[176 rows x 3 columns]

## Cash Flow Statement

In this section, we’ll extract cash flow statements. We can do that using the get_cash_flow method.

In [23]:
flow = si.get_cash_flow("aapl")

Here’s the first few rows of the cash flow statement:

In [24]:
flow.head(20)

endDate,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Breakdown,,,,
investments,-2819000000,5335000000,58093000000,30845000000
changeToLiabilities,14002000000,-1981000000,-2548000000,9172000000
totalCashflowsFromInvestingActivities,-14545000000,-4289000000,45896000000,16066000000
netBorrowings,12665000000,2499000000,-7819000000,432000000
totalCashFromFinancingActivities,-93353000000,-86820000000,-90976000000,-87876000000
changeToOperatingActivities,-6146000000,881000000,-896000000,30016000000
issuanceOfStock,1105000000,880000000,781000000,669000000
netIncome,94680000000,57411000000,55256000000,59531000000
changeInCash,-3860000000,-10435000000,24311000000,5624000000
repurchaseOfStock,-92527000000,-75992000000,-69714000000,-75265000000
totalCashFromOperatingActivities,104038000000,80674000000,69391000000,77434000000
depreciation,11284000000,11056000000,12547000000,10903000000
otherCashflowsFromInvestingActivities,-608000000,-791000000,-1078000000,-745000000
dividendsPaid,-14467000000,-14081000000,-14119000000,-13712000000
changeToInventory,-2642000000,-127000000,-289000000,828000000
changeToAccountReceivables,-10125000000,6917000000,245000000,-5322000000
otherCashflowsFromFinancingActivities,-129000000,-126000000,-105000000,-105000000
changeToNetincome,2985000000,6517000000,5076000000,-27694000000
capitalExpenditures,-11085000000,-7309000000,-10495000000,-13313000000

Now let’s get the cash flow statements of each company on our **companies** list.

In [25]:
cash_flows = {}
for ticker in companies:
    cash_flows[ticker] = si.get_cash_flow(ticker)

Again, we combine the datasets above, using similar code as before.

In [26]:
recent_cash_flows = {ticker : flow.iloc[:,:1] for ticker,flow in cash_flows.items()}


for ticker in recent_cash_flows.keys():
    recent_cash_flows[ticker].columns = ["Recent"]


combined_cash_flows = pd.concat(recent_cash_flows)

combined_cash_flows = combined_cash_flows.reset_index()

combined_cash_flows.columns = ["Ticker", "Breakdown", "Recent"]

Now, we can examine information in the cash flow statements across all the stocks in our list.

## Getting dividends paid across companies

One example to look at in a cash flow statement is the amount of dividends paid, which we can see across the companies in our list by using the filter below.

In [27]:
combined_cash_flows[combined_cash_flows.Breakdown == "dividendsPaid"]

    Ticker      Breakdown       Recent
13    AAPL  dividendsPaid -14467000000
33    MSFT  dividendsPaid -16521000000
51     WMT  dividendsPaid  -6152000000
69     TGT  dividendsPaid  -1548000000
86     MCD  dividendsPaid  -3918600000
106     KO  dividendsPaid  -7252000000
126    KMB  dividendsPaid  -1516000000
145     RY  dividendsPaid  -6420000000

## Getting stock issuance information

Here’s another example – this time, we’ll look at debt-related numbers across the cash flow statements.

In [28]:
combined_cash_flows[combined_cash_flows.Breakdown == "issuanceOfStock"]

    Ticker        Breakdown      Recent
6     AAPL  issuanceOfStock  1105000000
25    MSFT  issuanceOfStock  1693000000
63     TGT  issuanceOfStock     8000000
78     MCD  issuanceOfStock   285700000
98      KO  issuanceOfStock   702000000
118    KMB  issuanceOfStock    65000000
138     RY  issuanceOfStock  4853000000

## Reference

Reference Information

In [34]:
# Print dataframe's columns to a list

#print(company_extra_stats_wide.columns.tolist())

In [35]:
# Pull out just Trailing P/E to another dataframe
#trailing_pe = company_stats[company_stats["Attribute"].str.contains("Trailing")]

#trailing_pe

In [31]:
# S&P 500 List
sp500_list = si.tickers_sp500()

print(sp500_list)

['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT', 'ACN', 'ADBE', 'ADI', 'ADM', 'ADP', 'ADSK', 'AEE', 'AEP', 'AES', 'AFL', 'AIG', 'AIZ', 'AJG', 'AKAM', 'ALB', 'ALGN', 'ALK', 'ALL', 'ALLE', 'AMAT', 'AMCR', 'AMD', 'AME', 'AMGN', 'AMP', 'AMT', 'AMZN', 'ANET', 'ANSS', 'ANTM', 'AON', 'AOS', 'APA', 'APD', 'APH', 'APTV', 'ARE', 'ATO', 'ATVI', 'AVB', 'AVGO', 'AVY', 'AWK', 'AXP', 'AZO', 'BA', 'BAC', 'BALL', 'BAX', 'BBWI', 'BBY', 'BDX', 'BEN', 'BF-B', 'BIIB', 'BIO', 'BK', 'BKNG', 'BKR', 'BLK', 'BMY', 'BR', 'BRK-B', 'BRO', 'BSX', 'BWA', 'BXP', 'C', 'CAG', 'CAH', 'CARR', 'CAT', 'CB', 'CBOE', 'CBRE', 'CCI', 'CCL', 'CDAY', 'CDNS', 'CDW', 'CE', 'CEG', 'CERN', 'CF', 'CFG', 'CHD', 'CHRW', 'CHTR', 'CI', 'CINF', 'CL', 'CLX', 'CMA', 'CMCSA', 'CME', 'CMG', 'CMI', 'CMS', 'CNC', 'CNP', 'COF', 'COO', 'COP', 'COST', 'CPB', 'CPRT', 'CPT', 'CRL', 'CRM', 'CSCO', 'CSX', 'CTAS', 'CTLT', 'CTRA', 'CTSH', 'CTVA', 'CTXS', 'CVS', 'CVX', 'CZR', 'D', 'DAL', 'DD', 'DE', 'DFS', 'DG', 'DGX', 'DHI', 'DHR', 'DIS', 'DISH', 'DLR', 'DLTR', 'DOV', 'DOW', 'DPZ', 'DRE', 'DRI', 'DTE', 'DUK', 'DVA', 'DVN', 'DXC', 'DXCM', 'EA', 'EBAY', 'ECL', 'ED', 'EFX', 'EIX', 'EL', 'EMN', 'EMR', 'ENPH', 'EOG', 'EPAM', 'EQIX', 'EQR', 'ES', 'ESS', 'ETN', 'ETR', 'ETSY', 'EVRG', 'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'F', 'FANG', 'FAST', 'FB', 'FBHS', 'FCX', 'FDS', 'FDX', 'FE', 'FFIV', 'FIS', 'FISV', 'FITB', 'FLT', 'FMC', 'FOX', 'FOXA', 'FRC', 'FRT', 'FTNT', 'FTV', 'GD', 'GE', 'GILD', 'GIS', 'GL', 'GLW', 'GM', 'GNRC', 'GOOG', 'GOOGL', 'GPC', 'GPN', 'GRMN', 'GS', 'GWW', 'HAL', 'HAS', 'HBAN', 'HCA', 'HD', 'HES', 'HIG', 'HII', 'HLT', 'HOLX', 'HON', 'HPE', 'HPQ', 'HRL', 'HSIC', 'HST', 'HSY', 'HUM', 'HWM', 'IBM', 'ICE', 'IDXX', 'IEX', 'IFF', 'ILMN', 'INCY', 'INTC', 'INTU', 'IP', 'IPG', 'IPGP', 'IQV', 'IR', 'IRM', 'ISRG', 'IT', 'ITW', 'IVZ', 'J', 'JBHT', 'JCI', 'JKHY', 'JNJ', 'JNPR', 'JPM', 'K', 'KEY', 'KEYS', 'KHC', 'KIM', 'KLAC', 'KMB', 'KMI', 'KMX', 'KO', 'KR', 'L', 'LDOS', 'LEN', 'LH', 'LHX', 'LIN', 'LKQ', 'LLY', 'LMT', 'LNC', 'LNT', 'LOW', 'LRCX', 'LUMN', 'LUV', 'LVS', 'LW', 'LYB', 'LYV', 'MA', 'MAA', 'MAR', 'MAS', 'MCD', 'MCHP', 'MCK', 'MCO', 'MDLZ', 'MDT', 'MET', 'MGM', 'MHK', 'MKC', 'MKTX', 'MLM', 'MMC', 'MMM', 'MNST', 'MO', 'MOH', 'MOS', 'MPC', 'MPWR', 'MRK', 'MRNA', 'MRO', 'MS', 'MSCI', 'MSFT', 'MSI', 'MTB', 'MTCH', 'MTD', 'MU', 'NCLH', 'NDAQ', 'NDSN', 'NEE', 'NEM', 'NFLX', 'NI', 'NKE', 'NLOK', 'NLSN', 'NOC', 'NOW', 'NRG', 'NSC', 'NTAP', 'NTRS', 'NUE', 'NVDA', 'NVR', 'NWL', 'NWS', 'NWSA', 'NXPI', 'O', 'ODFL', 'OGN', 'OKE', 'OMC', 'ORCL', 'ORLY', 'OTIS', 'OXY', 'PARA', 'PAYC', 'PAYX', 'PCAR', 'PEAK', 'PEG', 'PENN', 'PEP', 'PFE', 'PFG', 'PG', 'PGR', 'PH', 'PHM', 'PKG', 'PKI', 'PLD', 'PM', 'PNC', 'PNR', 'PNW', 'POOL', 'PPG', 'PPL', 'PRU', 'PSA', 'PSX', 'PTC', 'PVH', 'PWR', 'PXD', 'PYPL', 'QCOM', 'QRVO', 'RCL', 'RE', 'REG', 'REGN', 'RF', 'RHI', 'RJF', 'RL', 'RMD', 'ROK', 'ROL', 'ROP', 'ROST', 'RSG', 'RTX', 'SBAC', 'SBNY', 'SBUX', 'SCHW', 'SEDG', 'SEE', 'SHW', 'SIVB', 'SJM', 'SLB', 'SNA', 'SNPS', 'SO', 'SPG', 'SPGI', 'SRE', 'STE', 'STT', 'STX', 'STZ', 'SWK', 'SWKS', 'SYF', 'SYK', 'SYY', 'T', 'TAP', 'TDG', 'TDY', 'TECH', 'TEL', 'TER', 'TFC', 'TFX', 'TGT', 'TJX', 'TMO', 'TMUS', 'TPR', 'TRMB', 'TROW', 'TRV', 'TSCO', 'TSLA', 'TSN', 'TT', 'TTWO', 'TWTR', 'TXN', 'TXT', 'TYL', 'UA', 'UAA', 'UAL', 'UDR', 'UHS', 'ULTA', 'UNH', 'UNP', 'UPS', 'URI', 'USB', 'V', 'VFC', 'VLO', 'VMC', 'VNO', 'VRSK', 'VRSN', 'VRTX', 'VTR', 'VTRS', 'VZ', 'WAB', 'WAT', 'WBA', 'WBD', 'WDC', 'WEC', 'WELL', 'WFC', 'WHR', 'WM', 'WMB', 'WMT', 'WRB', 'WRK', 'WST', 'WTW', 'WY', 'WYNN', 'XEL', 'XOM', 'XRAY', 'XYL', 'YUM', 'ZBH', 'ZBRA', 'ZION', 'ZTS']

In [32]:
# Dow List
dow_list = si.tickers_dow()

print(dow_list)

['AAPL', 'AMGN', 'AXP', 'BA', 'CAT', 'CRM', 'CSCO', 'CVX', 'DIS', 'DOW', 'GS', 'HD', 'HON', 'IBM', 'INTC', 'JNJ', 'JPM', 'KO', 'MCD', 'MMM', 'MRK', 'MSFT', 'NKE', 'PG', 'TRV', 'UNH', 'V', 'VZ', 'WBA', 'WMT']

In [33]:
# NASDAQ List
nasdaq_list = si.tickers_nasdaq()

print(nasdaq_list)

['AACG', 'AACI', 'AACIU', 'AACIW', 'AADI', 'AADR', 'AAL', 'AAME', 'AAOI', 'AAON', 'AAPL', 'AATC', 'AAWW', 'AAXJ', 'ABCB', 'ABCL', 'ABCM', 'ABEO', 'ABGI', 'ABIO', 'ABMD', 'ABNB', 'ABOS', 'ABSI', 'ABST', 'ABTX', 'ABUS', 'ABVC', 'ACAB', 'ACABU', 'ACABW', 'ACAD', 'ACAH', 'ACAHU', 'ACAHW', 'ACAX', 'ACAXR', 'ACAXU', 'ACAXW', 'ACB', 'ACBA', 'ACBAU', 'ACBAW', 'ACCD', 'ACER', 'ACET', 'ACEV', 'ACEVU', 'ACEVW', 'ACGL', 'ACGLN', 'ACGLO', 'ACHC', 'ACHL', 'ACHV', 'ACIU', 'ACIW', 'ACKIT', 'ACKIU', 'ACKIW', 'ACLS', 'ACLX', 'ACMR', 'ACNB', 'ACON', 'ACONW', 'ACOR', 'ACQR', 'ACQRU', 'ACQRW', 'ACRS', 'ACRX', 'ACST', 'ACT', 'ACTD', 'ACTDU', 'ACTDW', 'ACTG', 'ACVA', 'ACWI', 'ACWX', 'ACXP', 'ADAG', 'ADAL', 'ADALU', 'ADALW', 'ADAP', 'ADBE', 'ADER', 'ADERU', 'ADERW', 'ADES', 'ADGI', 'ADI', 'ADIL', 'ADILW', 'ADMA', 'ADMP', 'ADN', 'ADNWW', 'ADOC', 'ADOCR', 'ADOCW', 'ADP', 'ADPT', 'ADRE', 'ADSE', 'ADSEW', 'ADSK', 'ADTH', 'ADTHW', 'ADTN', 'ADTX', 'ADUS', 'ADV', 'ADVM', 'ADVWW', 'ADXN', 'AEAC', 'AEACU', 'AEACW', 'AEAE', 'AEAEU', 'AEAEW', 'AEHA', 'AEHAU', 'AEHAW', 'AEHL', 'AEHR', 'AEI', 'AEIS', 'AEMD', 'AEP', 'AEPPZ', 'AERC', 'AERI', 'AESE', 'AEY', 'AEYE', 'AEZS', 'AFAC', 'AFACU', 'AFACW', 'AFAQ', 'AFAQU', 'AFAQW', 'AFARU', 'AFBI', 'AFCG', 'AFIB', 'AFMD', 'AFRM', 'AFYA', 'AGBA', 'AGBAR', 'AGBAU', 'AGBAW', 'AGEN', 'AGFS', 'AGFY', 'AGGR', 'AGGRU', 'AGGRW', 'AGIL', 'AGILW', 'AGIO', 'AGLE', 'AGMH', 'AGNC', 'AGNCM', 'AGNCN', 'AGNCO', 'AGNCP', 'AGNG', 'AGRI', 'AGRIW', 'AGRX', 'AGTC', 'AGYS', 'AGZD', 'AHCO', 'AHG', 'AHI', 'AHPA', 'AHPAU', 'AHPAW', 'AHPI', 'AHRN', 'AHRNU', 'AHRNW', 'AIA', 'AIB', 'AIBBR', 'AIBBU', 'AIH', 'AIHS', 'AIKI', 'AIMAU', 'AIMC', 'AINV', 'AIP', 'AIQ', 'AIRG', 'AIRR', 'AIRS', 'AIRT', 'AIRTP', 'AKAM', 'AKAN', 'AKBA', 'AKIC', 'AKICU', 'AKICW', 'AKRO', 'AKTS', 'AKTX', 'AKU', 'AKUS', 'AKYA', 'ALBO', 'ALCO', 'ALDX', 'ALEC', 'ALF', 'ALFIW', 'ALGM', 'ALGN', 'ALGS', 'ALGT', 'ALHC', 'ALIM', 'ALJJ', 'ALKS', 'ALKT', 'ALLK', 'ALLO', 'ALLR', 'ALLT', 'ALNA', 'ALNY', 'ALOR', 'ALORU', 'ALORW', 'ALOT', 'ALPA', 'ALPAU', 'ALPAW', 'ALPN', 'ALPP', 'ALR', 'ALRM', 'ALRN', 'ALRS', 'ALSA', 'ALSAR', 'ALSAU', 'ALSAW', 'ALT', 'ALTO', 'ALTR', 'ALTU', 'ALTUU', 'ALTUW', 'ALTY', 'ALVR', 'ALXO', 'ALYA', 'ALZN', 'AMAL', 'AMAO', 'AMAOU', 'AMAOW', 'AMAT', 'AMBA', 'AMCI', 'AMCIU', 'AMCIW', 'AMCX', 'AMD', 'AMED', 'AMEH', 'AMGN', 'AMKR', 'AMLX', 'AMNB', 'AMOT', 'AMPG', 'AMPGW', 'AMPH', 'AMPL', 'AMRK', 'AMRN', 'AMRS', 'AMSC', 'AMSF', 'AMST', 'AMSWA', 'AMTB', 'AMTI', 'AMTX', 'AMWD', 'AMYT', 'AMZN', 'ANAB', 'ANDE', 'ANEB', 'ANGH', 'ANGHW', 'ANGI', 'ANGL', 'ANGN', 'ANGO', 'ANIK', 'ANIP', 'ANIX', 'ANNX', 'ANPC', 'ANSS', 'ANTE', 'ANTX', 'ANY', 'ANZU', 'ANZUU', 'ANZUW', 'AOGO', 'AOGOU', 'AOGOW', 'AOSL', 'AOUT', 'APA', 'APAC', 'APACU', 'APACW', 'APCX', 'APCXW', 'APDN', 'APEI', 'APEN', 'API', 'APLD', 'APLS', 'APLT', 'APM', 'APMI', 'APMIU', 'APMIW', 'APOG', 'APP', 'APPF', 'APPH', 'APPHW', 'APPN', 'APPS', 'APRE', 'APTM', 'APTMU', 'APTMW', 'APTO', 'APTX', 'APVO', 'APWC', 'APXI', 'APXIU', 'APXIW', 'APYX', 'AQB', 'AQMS', 'AQST', 'AQWA', 'ARAV', 'ARAY', 'ARBE', 'ARBEW', 'ARBG', 'ARBGU', 'ARBGW', 'ARBK', 'ARBKL', 'ARCB', 'ARCC', 'ARCE', 'ARCK', 'ARCKU', 'ARCKW', 'ARCT', 'ARDS', 'ARDX', 'AREB', 'AREBW', 'AREC', 'ARGU', 'ARGUU', 'ARGUW', 'ARGX', 'ARHS', 'ARIZ', 'ARIZR', 'ARIZU', 'ARIZW', 'ARKO', 'ARKOW', 'ARKR', 'ARLP', 'AROW', 'ARQQ', 'ARQQW', 'ARQT', 'ARRW', 'ARRWU', 'ARRWW', 'ARRY', 'ARTE', 'ARTEU', 'ARTEW', 'ARTL', 'ARTLW', 'ARTNA', 'ARTW', 'ARVL', 'ARVN', 'ARVR', 'ARWR', 'ARYD', 'ARYE', 'ASAX', 'ASAXU', 'ASAXW', 'ASCA', 'ASCAR', 'ASCAU', 'ASCAW', 'ASCBU', 'ASET', 'ASLE', 'ASLN', 'ASMB', 'ASML', 'ASND', 'ASNS', 'ASO', 'ASPA', 'ASPAU', 'ASPAW', 'ASPC', 'ASPCU', 'ASPCW', 'ASPS', 'ASPU', 'ASRT', 'ASRV', 'ASTC', 'ASTE', 'ASTL', 'ASTLW', 'ASTR', 'ASTS', 'ASTSW', 'ASUR', 'ASYS', 'ATAI', 'ATAK', 'ATAKR', 'ATAKU', 'ATAKW', 'ATAX', 'ATCOL', 'ATCX', 'ATEC', 'ATER', 'ATEX', 'ATHA', 'ATHE', 'ATHX', 'ATIF', 'ATLC', 'ATLCL', 'ATLCP', 'ATLO', 'ATNF', 'ATNFW', 'ATNI', 'ATNX', 'ATOM', 'ATOS', 'ATRA', 'ATRC', 'ATRI', 'ATRO', 'ATSG', 'ATVC', 'ATVCU', 'ATVCW', 'ATVI', 'ATXI', 'ATXS', 'ATY', 'AUB', 'AUBAP', 'AUBN', 'AUDC', 'AUGX', 'AUID', 'AUPH', 'AUR', 'AURA', 'AURC', 'AURCU', 'AURCW', 'AUROW', 'AUTL', 'AUTO', 'AUUD', 'AUUDW', 'AUVI', 'AUVIP', 'AVAC', 'AVACU', 'AVACW', 'AVAH', 'AVAV', 'AVCO', 'AVCT', 'AVCTW', 'AVDL', 'AVDX', 'AVEO', 'AVGO', 'AVGOP', 'AVGR', 'AVHI', 'AVHIU', 'AVHIW', 'AVID', 'AVIR', 'AVNW', 'AVO', 'AVPT', 'AVPTW', 'AVRO', 'AVT', 'AVTE', 'AVTX', 'AVXL', 'AWH', 'AWRE', 'AXDX', 'AXGN', 'AXLA', 'AXNX', 'AXON', 'AXSM', 'AXTI', 'AY', 'AYLA', 'AYRO', 'AYTU', 'AZ', 'AZN', 'AZPN', 'AZTA', 'AZYO', 'BAFN', 'BAND', 'BANF', 'BANFP', 'BANR', 'BANX', 'BAOS', 'BASE', 'BATRA', 'BATRK', 'BBBY', 'BBCP', 'BBGI', 'BBH', 'BBI', 'BBIG', 'BBIGV', 'BBIO', 'BBLG', 'BBLGW', 'BBQ', 'BBSI', 'BCAB', 'BCAC', 'BCACU', 'BCACW', 'BCBP', 'BCDA', 'BCDAW', 'BCEL', 'BCLI', 'BCML', 'BCOR', 'BCOV', 'BCOW', 'BCPC', 'BCRX', 'BCSA', 'BCSAU', 'BCSAW', 'BCTX', 'BCTXW', 'BCYC', 'BDSX', 'BDTX', 'BEAM', 'BEAT', 'BEATW', 'BECN', 'BEEM', 'BEEMW', 'BELFA', 'BELFB', 'BENE', 'BENER', 'BENEU', 'BENEW', 'BFC', 'BFI', 'BFIIW', 'BFIN', 'BFIT', 'BFRI', 'BFRIW', 'BFST', 'BGCP', 'BGFV', 'BGNE', 'BGRN', 'BGRY', 'BGRYW', 'BGXX', 'BHAC', 'BHACU', 'BHACW', 'BHAT', 'BHF', 'BHFAL', 'BHFAM', 'BHFAN', 'BHFAO', 'BHFAP', 'BHSE', 'BHSEU', 'BHSEW', 'BIB', 'BICK', 'BIDU', 'BIGC', 'BIIB', 'BILI', 'BIMI', 'BIOC', 'BIOL', 'BIOR', 'BIOS', 'BIOSU', 'BIOSW', 'BIOT', 'BIOTU', 'BIOTW', 'BIOX', 'BIRD', 'BIS', 'BITF', 'BITS', 'BIVI', 'BJDX', 'BJK', 'BJRI', 'BKCC', 'BKCH', 'BKEP', 'BKEPP', 'BKNG', 'BKR', 'BKSC', 'BKYI', 'BL', 'BLBD', 'BLBX', 'BLCM', 'BLCN', 'BLCT', 'BLDE', 'BLDEW', 'BLDP', 'BLEU', 'BLEUR', 'BLEUU', 'BLEUW', 'BLFS', 'BLFY', 'BLI', 'BLIN', 'BLKB', 'BLMN', 'BLNG', 'BLNGU', 'BLNGW', 'BLNK', 'BLNKW', 'BLPH', 'BLRX', 'BLSA', 'BLTE', 'BLTS', 'BLTSU', 'BLTSW', 'BLU', 'BLUE', 'BLZE', 'BMAQ', 'BMAQR', 'BMAQU', 'BMAQW', 'BMBL', 'BMEA', 'BMRA', 'BMRC', 'BMRN', 'BND', 'BNDW', 'BNDX', 'BNFT', 'BNGO', 'BNGOW', 'BNIX', 'BNIXR', 'BNIXW', 'BNNR', 'BNNRU', 'BNNRW', 'BNOX', 'BNR', 'BNRG', 'BNSO', 'BNTC', 'BNTX', 'BOCN', 'BOCNU', 'BOCNW', 'BOKF', 'BOLT', 'BON', 'BOOM', 'BOSC', 'BOTJ', 'BOTZ', 'BOXL', 'BPAC', 'BPACU', 'BPACW', 'BPMC', 'BPOP', 'BPOPM', 'BPRN', 'BPTH', 'BPTS', 'BPYPM', 'BPYPN', 'BPYPO', 'BPYPP', 'BRAC', 'BRACR', 'BRACU', 'BRAG', 'BRCN', 'BREZ', 'BREZR', 'BREZW', 'BRFH', 'BRID', 'BRIV', 'BRIVU', 'BRIVW', 'BRKH', 'BRKHU', 'BRKHW', 'BRKL', 'BRKR', 'BRLI', 'BRLIR', 'BRLIU', 'BRLIW', 'BRLT', 'BROG', 'BROGW', 'BRP', 'BRPM', 'BRPMU', 'BRPMW', 'BRQS', 'BRTX', 'BRY', 'BRZE', 'BSBE', 'BSBK', 'BSCE', 'BSCM', 'BSCN', 'BSCO', 'BSCP', 'BSCQ', 'BSCR', 'BSCS', 'BSCT', 'BSCU', 'BSCV', 'BSDE', 'BSET', 'BSFC', 'BSGA', 'BSGAR', 'BSGAU', 'BSGM', 'BSJM', 'BSJN', 'BSJO', 'BSJP', 'BSJQ', 'BSJR', 'BSJS', 'BSJT', 'BSKY', 'BSKYU', 'BSKYW', 'BSMM', 'BSMN', 'BSMO', 'BSMP', 'BSMQ', 'BSMR', 'BSMS', 'BSMT', 'BSMU', 'BSMV', 'BSQR', 'BSRR', 'BSVN', 'BSY', 'BTAI', 'BTB', 'BTBD', 'BTBDW', 'BTBT', 'BTCS', 'BTCY', 'BTEC', 'BTF', 'BTMD', 'BTMDW', 'BTOG', 'BTRS', 'BTTX', 'BTWN', 'BTWNU', 'BTWNW', 'BTX', 'BUG', 'BULD', 'BUSE', 'BVS', 'BVXV', 'BWAC', 'BWACU', 'BWACW', 'BWAQ', 'BWAQR', 'BWAQU', 'BWAQW', 'BWAY', 'BWB', 'BWBBP', 'BWC', 'BWCAU', 'BWCAW', 'BWEN', 'BWFG', 'BWMN', 'BWMX', 'BWV', 'BXRX', 'BYFC', 'BYND', 'BYNO', 'BYNOU', 'BYNOW', 'BYRN', 'BYSI', 'BYTS', 'BYTSU', 'BYTSW', 'BZ', 'BZFD', 'BZFDW', 'BZUN', 'CAAS', 'CABA', 'CAC', 'CACC', 'CACG', 'CADL', 'CAKE', 'CALA', 'CALB', 'CALM', 'CALT', 'CAMP', 'CAMT', 'CAN', 'CAPR', 'CAR', 'CARA', 'CARE', 'CARG', 'CARV', 'CARZ', 'CASA', 'CASH', 'CASI', 'CASS', 'CASY', 'CATC', 'CATH', 'CATY', 'CBAN', 'CBAT', 'CBAY', 'CBFV', 'CBIO', 'CBNK', 'CBRG', 'CBRGU', 'CBRGW', 'CBRL', 'CBSH', 'CBTX', 'CCAI', 'CCAIU', 'CCAIW', 'CCAP', 'CCB', 'CCBG', 'CCCC', 'CCD', 'CCEL', 'CCEP', 'CCLP', 'CCMP', 'CCNC', 'CCNE', 'CCNEP', 'CCOI', 'CCRN', 'CCSI', 'CCTS', 'CCTSU', 'CCTSW', 'CCXI', 'CD', 'CDAK', 'CDAQ', 'CDAQU', 'CDAQW', 'CDC', 'CDEV', 'CDK', 'CDL', 'CDLX', 'CDMO', 'CDNA', 'CDNS', 'CDRO', 'CDROW', 'CDTX', 'CDW', 'CDXC', 'CDXS', 'CDZI', 'CDZIP', 'CEAD', 'CEADW', 'CECE', 'CEFA', 'CEG', 'CELC', 'CELH', 'CELU', 'CELUW', 'CELZ', 'CEMI', 'CENN', 'CENQ', 'CENQU', 'CENQW', 'CENT', 'CENTA', 'CENX', 'CERE', 'CERN', 'CERS', 'CERT', 'CETX', 'CETXP', 'CEVA', 'CEY', 'CFA', 'CFB', 'CFBK', 'CFFE', 'CFFEU', 'CFFEW', 'CFFI', 'CFFN', 'CFFS', 'CFFSU', 'CFFSW', 'CFIV', 'CFIVU', 'CFIVW', 'CFLT', 'CFMS', 'CFO', 'CFRX', 'CFSB', 'CFVI', 'CFVIU', 'CFVIW', 'CG', 'CGABL', 'CGBD', 'CGC', 'CGEM', 'CGEN', 'CGNT', 'CGNX', 'CGO', 'CGRN', 'CGTX', 'CHB', 'CHCI', 'CHCO', 'CHDN', 'CHEAU', 'CHEF', 'CHEK', 'CHEKZ', 'CHI', 'CHK', 'CHKEL', 'CHKEW', 'CHKEZ', 'CHKP', 'CHMG', 'CHNA', 'CHNG', 'CHNGU', 'CHNR', 'CHRS', 'CHRW', 'CHSCL', 'CHSCM', 'CHSCN', 'CHSCO', 'CHSCP', 'CHTR', 'CHUY', 'CHW', 'CHWA', 'CHWAU', 'CHWAW', 'CHX', 'CHY', 'CIBR', 'CID', 'CIDM', 'CIFR', 'CIFRW', 'CIGI', 'CIH', 'CIIG', 'CIIGU', 'CIIGW', 'CIL', 'CINC', 'CINF', 'CING', 'CINGW', 'CISO', 'CITE', 'CITEU', 'CITEW', 'CIVB', 'CIZ', 'CIZN', 'CJJD', 'CKPT', 'CLAQ', 'CLAQR', 'CLAQU', 'CLAQW', 'CLAR', 'CLAY', 'CLAYU', 'CLAYW', 'CLBK', 'CLBS', 'CLBT', 'CLBTW', 'CLDX', 'CLEU', 'CLFD', 'CLGN', 'CLIN', 'CLINR', 'CLINU', 'CLINW', 'CLIR', 'CLLS', 'CLMT', 'CLNE', 'CLNN', 'CLNNW', 'CLOE', 'CLOER', 'CLOEU', 'CLOU', 'CLOV', 'CLPS', 'CLPT', 'CLRB', 'CLRCU', 'CLRG', 'CLRM', 'CLRMU', 'CLRMW', 'CLRO', 'CLSD', 'CLSK', 'CLSN', 'CLST', 'CLVR', 'CLVRW', 'CLVS', 'CLWT', 'CLXT', 'CMAX', 'CMAXW', 'CMBM', 'CMCA', 'CMCAU', 'CMCAW', 'CMCO', 'CMCSA', 'CMCT', 'CMCTP', 'CME', 'CMLS', 'CMMB', 'CMPI', 'CMPO', 'CMPOW', 'CMPR', 'CMPS', 'CMPX', 'CMRA', 'CMRAW', 'CMRX', 'CMTL', 'CNCE', 'CNCR', 'CNDT', 'CNET', 'CNEY', 'CNFR', 'CNFRL', 'CNGL', 'CNGLU', 'CNGLW', 'CNNB', 'CNOB', 'CNOBP', 'CNSL', 'CNSP', 'CNTA', 'CNTB', 'CNTG', 'CNTQ', 'CNTQU', 'CNTQW', 'CNTX', 'CNTY', 'CNXC', 'CNXN', 'COCO', 'COCP', 'CODA', 'CODX', 'COFS', 'COGT', 'COHR', 'COHU', 'COIN', 'COKE', 'COLB', 'COLI', 'COLIU', 'COLIW', 'COLL', 'COLM', 'COMM', 'COMS', 'COMSP', 'COMSW', 'COMT', 'CONN', 'CONX', 'CONXU', 'CONXW', 'COOL', 'COOLU', 'COOLW', 'COOP', 'CORT', 'CORZ', 'CORZW', 'COSM', 'COST', 'COUP', 'COVA', 'COVAU', 'COVAW', 'COWN', 'COWNL', 'CPAA', 'CPAAU', 'CPAAW', 'CPAQ', 'CPAQU', 'CPAQW', 'CPAR', 'CPARU', 'CPARW', 'CPHC', 'CPIX', 'CPLP', 'CPOP', 'CPRT', 'CPRX', 'CPSH', 'CPSI', 'CPSS', 'CPTAG', 'CPTAL', 'CPTN', 'CPTNW', 'CPZ', 'CRAI', 'CRBP', 'CRBU', 'CRCT', 'CRDF', 'CRDL', 'CRDO', 'CREC', 'CRECU', 'CRECW', 'CREG', 'CRESW', 'CRESY', 'CREX', 'CREXW', 'CRGE', 'CRIS', 'CRKN', 'CRMD', 'CRMT', 'CRNC', 'CRNT', 'CRNX', 'CRON', 'CROX', 'CRSP', 'CRSR', 'CRTD', 'CRTDW', 'CRTO', 'CRTX', 'CRUS', 'CRVL', 'CRVS', 'CRWD', 'CRWS', 'CRXT', 'CRXTW', 'CRZN', 'CRZNU', 'CRZNW', 'CSA', 'CSB', 'CSBR', 'CSCO', 'CSCW', 'CSF', 'CSGP', 'CSGS', 'CSII', 'CSIQ', 'CSLM', 'CSLMR', 'CSLMU', 'CSLMW', 'CSML', 'CSPI', 'CSQ', 'CSSE', 'CSSEN', 'CSSEP', 'CSTE', 'CSTL', 'CSTR', 'CSWC', 'CSWI', 'CSX', 'CTAQ', 'CTAQU', 'CTAQW', 'CTAS', 'CTBI', 'CTEC', 'CTG', 'CTHR', 'CTIB', 'CTIC', 'CTKB', 'CTLP', 'CTMX', 'CTRM', 'CTRN', 'CTSH', 'CTSO', 'CTXR', 'CTXRW', 'CTXS', 'CUBA', 'CUE', 'CUEN', 'CUENW', 'CULL', 'CURI', 'CURIW', 'CUTR', 'CVAC', 'CVBF', 'CVCO', 'CVCY', 'CVET', 'CVGI', 'CVGW', 'CVLG', 'CVLT', 'CVLY', 'CVRX', 'CVT', 'CVV', 'CWBC', 'CWBR', 'CWCO', 'CWST', 'CXDO', 'CXSE', 'CYAD', 'CYAN', 'CYBE', 'CYBR', 'CYCC', 'CYCCP', 'CYCN', 'CYN', 'CYRN', 'CYRX', 'CYT', 'CYTH', 'CYTHW', 'CYTK', 'CYTO', 'CYXT', 'CZNC', 'CZR', 'CZWI', 'DADA', 'DAIO', 'DAKT', 'DALI', 'DALN', 'DALS', 'DAM', 'DAOO', 'DAOOU', 'DAOOW', 'DAPP', 'DARE', 'DATS', 'DATSW', 'DAVE', 'DAVEW', 'DAWN', 'DAX', 'DBGI', 'DBGIW', 'DBTX', 'DBVT', 'DBX', 'DCBO', 'DCFC', 'DCFCW', 'DCGO', 'DCGOW', 'DCOM', 'DCOMP', 'DCPH', 'DCRD', 'DCRDU', 'DCRDW', 'DCT', 'DCTH', 'DDI', 'DDIV', 'DDOG', 'DECAU', 'DEMZ', 'DENN', 'DERM', 'DFFN', 'DFH', 'DGHI', 'DGICA', 'DGICB', 'DGII', 'DGLY', 'DGNU', 'DGRE', 'DGRS', 'DGRW', 'DH', 'DHAC', 'DHACU', 'DHACW', 'DHBC', 'DHBCU', 'DHBCW', 'DHC', 'DHCA', 'DHCAU', 'DHCAW', 'DHCNI', 'DHCNL', 'DHHC', 'DHHCU', 'DHHCW', 'DHIL', 'DIBS', 'DICE', 'DILA', 'DILAU', 'DILAW', 'DIOD', 'DISA', 'DISAU', 'DISAW', 'DISH', 'DJCO', 'DKDCA', 'DKDCU', 'DKDCW', 'DKNG', 'DLCA', 'DLCAU', 'DLCAW', 'DLHC', 'DLO', 'DLPN', 'DLTH', 'DLTR', 'DMAC', 'DMAQ', 'DMAQR', 'DMAT', 'DMLP', 'DMRC', 'DMTK', 'DMXF', 'DNAA', 'DNAB', 'DNAC', 'DNAD', 'DNAY', 'DNLI', 'DNUT', 'DOCU', 'DOGZ', 'DOMO', 'DOOO', 'DORM', 'DOX', 'DOYU', 'DPCS', 'DPCSU', 'DPCSW', 'DPRO', 'DRAY', 'DRAYU', 'DRAYW', 'DRCT', 'DRCTW', 'DRIO', 'DRIV', 'DRMA', 'DRMAW', 'DRRX', 'DRTS', 'DRTSW', 'DRTT', 'DRUG', 'DRVN', 'DSAC', 'DSACU', 'DSACW', 'DSEY', 'DSGN', 'DSGR', 'DSGX', 'DSKE', 'DSP', 'DSPC', 'DSWL', 'DTEA', 'DTIL', 'DTOC', 'DTOCU', 'DTOCW', 'DTRT', 'DTRTU', 'DTRTW', 'DTSS', 'DTST', 'DTSTW', 'DUET', 'DUETU', 'DUETW', 'DUNE', 'DUNEU', 'DUNEW', 'DUO', 'DUOL', 'DUOT', 'DVAX', 'DVLU', 'DVOL', 'DVY', 'DWAC', 'DWACU', 'DWACW', 'DWAS', 'DWAT', 'DWAW', 'DWCR', 'DWEQ', 'DWMC', 'DWPP', 'DWSH', 'DWSN', 'DWUS', 'DXCM', 'DXGE', 'DXJS', 'DXLG', 'DXPE', 'DXR', 'DXYN', 'DYAI', 'DYN', 'DYNS', 'DYNT', 'DZSI', 'EA', 'EAC', 'EACPU', 'EACPW', 'EAR', 'EAST', 'EBAC', 'EBACU', 'EBACW', 'EBAY', 'EBC', 'EBET', 'EBIX', 'EBIZ', 'EBMT', 'EBON', 'EBTC', 'ECOR', 'ECOW', 'ECPG', 'EDAP', 'EDBL', 'EDBLW', 'EDIT', 'EDNC', 'EDNCU', 'EDNCW', 'EDOC', 'EDRY', 'EDSA', 'EDTK', 'EDTX', 'EDTXU', 'EDTXW', 'EDUC', 'EDUT', 'EEFT', 'EEIQ', 'EEMA', 'EFAS', 'EFOI', 'EFSC', 'EFSCP', 'EFTR', 'EFTRW', 'EGAN', 'EGBN', 'EGLE', 'EGLX', 'EGRX', 'EH', 'EHTH', 'EIGR', 'EJFA', 'EJFAU', 'EJFAW', 'EJH', 'EKG', 'EKSO', 'ELBM', 'ELDN', 'ELEV', 'ELMS', 'ELMSW', 'ELOX', 'ELSE', 'ELTK', 'ELYM', 'ELYS', 'EM', 'EMB', 'EMBC', 'EMBK', 'EMBKW', 'EMCB', 'EMCF', 'EMIF', 'EMKR', 'EML', 'EMLD', 'EMLDU', 'EMLDW', 'EMXC', 'EMXF', 'ENCP', 'ENCPU', 'ENCPW', 'ENDP', 'ENER', 'ENERR', 'ENERU', 'ENERW', 'ENG', 'ENJY', 'ENJYW', 'ENLV', 'ENOB', 'ENPH', 'ENSC', 'ENSG', 'ENTA', 'ENTF', 'ENTFU', 'ENTFW', 'ENTG', 'ENTX', 'ENTXW', 'ENVB', 'ENVX', 'ENZL', 'EOLS', 'EOSE', 'EOSEW', 'EPHY', 'EPHYU', 'EPHYW', 'EPIX', 'EPSN', 'EPZM', 'EQ', 'EQBK', 'EQIX', 'EQOS', 'EQRR', 'EQRX', 'EQRXW', 'ERAS', 'ERES', 'ERESU', 'ERESW', 'ERIC', 'ERIE', 'ERII', 'ERYP', 'ESAC', 'ESACU', 'ESACW', 'ESCA', 'ESEA', 'ESGD', 'ESGE', 'ESGR', 'ESGRO', 'ESGRP', 'ESGU', 'ESLT', 'ESMV', 'ESOA', 'ESPO', 'ESPR', 'ESQ', 'ESSA', 'ESSC', 'ESSCR', 'ESSCU', 'ESSCW', 'ESTA', 'ETAC', 'ETACU', 'ETACW', 'ETNB', 'ETON', 'ETSY', 'ETTX', 'EUCR', 'EUCRU', 'EUCRW', 'EUFN', 'EVAX', 'EVBG', 'EVCM', 'EVER', 'EVFM', 'EVGBC', 'EVGN', 'EVGO', 'EVGOW', 'EVGR', 'EVGRU', 'EVGRW', 'EVK', 'EVLMC', 'EVLO', 'EVLV', 'EVLVW', 'EVMT', 'EVO', 'EVOJ', 'EVOJU', 'EVOJW', 'EVOK', 'EVOP', 'EVSTC', 'EWBC', 'EWCZ', 'EWEB', 'EWJE', 'EWJV', 'EWTX', 'EWZS', 'EXAI', 'EXAS', 'EXC', 'EXEL', 'EXFY', 'EXLS', 'EXPD', 'EXPE', 'EXPI', 'EXPO', 'EXTR', 'EYE', 'EYEN', 'EYES', 'EYESW', 'EYPT', 'EZFL', 'EZGO', 'EZPW', 'FA', 'FAAR', 'FAB', 'FAD', 'FALN', 'FAMI', 'FANG', 'FANH', 'FARM', 'FARO', 'FAST', 'FAT', 'FATBB', 'FATBP', 'FATBW', 'FATE', 'FATP', 'FATPU', 'FATPW', 'FB', 'FBIO', 'FBIOP', 'FBIZ', 'FBMS', 'FBNC', 'FBRX', 'FBZ', 'FCA', 'FCAL', 'FCAP', 'FCBC', 'FCCO', 'FCEF', 'FCEL', 'FCFS', 'FCNCA', 'FCNCO', 'FCNCP', 'FCRD', 'FCUV', 'FCVT', 'FDBC', 'FDIG', 'FDMT', 'FDNI', 'FDT', 'FDTS', 'FDUS', 'FEAM', 'FEIM', 'FELE', 'FEM', 'FEMB', 'FEMS', 'FEMY', 'FENC', 'FEP', 'FEUZ', 'FEX', 'FEXD', 'FEXDR', 'FEXDU', 'FEXDW', 'FFBC', 'FFBW', 'FFHL', 'FFIC', 'FFIE', 'FFIEW', 'FFIN', 'FFIV', 'FFNW', 'FFWM', 'FGBI', 'FGBIP', 'FGEN', 'FGF', 'FGFPP', 'FGI', 'FGIWW', 'FGM', 'FGMC', 'FGMCU', 'FGMCW', 'FHB', 'FHLT', 'FHLTU', 'FHLTW', 'FHTX', 'FIAC', 'FIACU', 'FIACW', 'FIBK', 'FICS', 'FICV', 'FICVU', 'FICVW', 'FID', 'FINM', 'FINMU', 'FINMW', 'FINW', 'FINX', 'FISI', 'FISV', 'FITB', 'FITBI', 'FITBO', 'FITBP', 'FIVE', 'FIVN', 'FIVR', 'FIXD', 'FIXX', 'FIZZ', 'FJP', 'FKU', 'FKWL', 'FLAC', 'FLACU', 'FLACW', 'FLEX', 'FLGC', 'FLGT', 'FLIC', 'FLL', 'FLMN', 'FLMNW', 'FLN', 'FLNC', 'FLNT', 'FLUX', 'FLWS', 'FLXS', 'FLYW', 'FMAO', 'FMB', 'FMBH', 'FMET', 'FMHI', 'FMIV', 'FMIVU', 'FMIVW', 'FMNB', 'FMTX', 'FNCB', 'FNCH', 'FNGR', 'FNHC', 'FNK', 'FNKO', 'FNLC', 'FNVT', 'FNVTU', 'FNVTW', 'FNWB', 'FNWD', 'FNX', 'FNY', 'FOCS', 'FOLD', 'FONR', 'FORA', 'FORD', 'FORM', 'FORR', 'FORTY', 'FOSL', 'FOSLL', 'FOUN', 'FOUNU', 'FOUNW', 'FOX', 'FOXA', 'FOXF', 'FOXW', 'FOXWU', 'FOXWW', 'FPA', 'FPAY', 'FPXE', 'FPXI', 'FRAF', 'FRBA', 'FRBK', 'FRBN', 'FRBNU', 'FRBNW', 'FREE', 'FREEW', 'FREQ', 'FRG', 'FRGAP', 'FRGI', 'FRGT', 'FRHC', 'FRLA', 'FRLAU', 'FRLAW', 'FRLN', 'FRME', 'FRMEP', 'FROG', 'FRON', 'FRONU', 'FRONW', 'FRPH', 'FRPT', 'FRSG', 'FRSGU', 'FRSGW', 'FRSH', 'FRST', 'FRSX', 'FRW', 'FRWAU', 'FRWAW', 'FSBC', 'FSBW', 'FSEA', 'FSFG', 'FSLR', 'FSRD', 'FSRDW', 'FSRX', 'FSRXU', 'FSRXW', 'FSSI', 'FSSIU', 'FSSIW', 'FSTR', 'FSTX', 'FSV', 'FSZ', 'FTA', 'FTAA', 'FTAAU', 'FTAAW', 'FTAG', 'FTAI', 'FTAIN', 'FTAIO', 'FTAIP', 'FTC', 'FTCI', 'FTCS', 'FTCV', 'FTCVU', 'FTCVW', 'FTDR', 'FTDS', 'FTEK', 'FTFT', 'FTGC', 'FTHI', 'FTHM', 'FTII', 'FTIIU', 'FTIIW', 'FTNT', 'FTPA', 'FTPAU', 'FTPAW', 'FTQI', 'FTRI', 'FTRP', 'FTSL', 'FTSM', 'FTVI', 'FTVIU', 'FTVIW', 'FTXG', 'FTXH', 'FTXL', 'FTXN', 'FTXO', 'FTXR', 'FULC', 'FULT', 'FULTP', 'FUNC', 'FUND', 'FUSB', 'FUSN', 'FUTU', 'FUV', 'FV', 'FVAM', 'FVC', 'FVCB', 'FWAC', 'FWBI', 'FWONA', 'FWONK', 'FWP', 'FWRD', 'FWRG', 'FXCO', 'FXCOR', 'FXCOW', 'FXNC', 'FYBR', 'FYC', 'FYT', 'FYX', 'GABC', 'GACQ', 'GACQU', 'GACQW', 'GAIA', 'GAIN', 'GAINN', 'GAINZ', 'GALT', 'GAMB', 'GAMC', 'GAMCU', 'GAMCW', 'GAME', 'GAN', 'GANX', 'GASS', 'GATE', 'GATEU', 'GATEW', 'GBBKU', 'GBDC', 'GBIO', 'GBNH', 'GBNY', 'GBOX', 'GBRG', 'GBRGR', 'GBRGU', 'GBRGW', 'GBS', 'GBT', 'GCBC', 'GCMG', 'GCMGW', 'GCTK', 'GDEN', 'GDEV', 'GDEVW', 'GDNR', 'GDNRU', 'GDNRW', 'GDRX', 'GDS', 'GDST', 'GDSTR', 'GDSTU', 'GDSTW', 'GDYN', 'GECC', 'GECCM', 'GECCN', 'GECCO', 'GEEX', 'GEEXU', 'GEEXW', 'GEG', 'GENC', 'GENE', 'GENQ', 'GENQU', 'GENQW', 'GENY', 'GEOS', 'GERN', 'GET', 'GEVO', 'GFAI', 'GFAIW', 'GFGD', 'GFGDR', 'GFGDU', 'GFGDW', 'GFGF', 'GFS', 'GGAA', 'GGAAU', 'GGAAW', 'GGAL', 'GGE', 'GGGV', 'GGGVR', 'GGGVU', 'GGMC', 'GGMCU', 'GGMCW', 'GGPI', 'GGPIU', 'GGPIW', 'GGR', 'GGROW', 'GH', 'GHAC', 'GHACU', 'GHACW', 'GHIX', 'GHIXU', 'GHIXW', 'GHRS', 'GHSI', 'GIAC', 'GIACU', 'GIACW', 'GIFI', 'GIGE', 'GIGM', 'GIII', 'GIIX', 'GIIXU', 'GIIXW', 'GILD', 'GILT', 'GIPR', 'GIPRW', 'GIW', 'GIWWU', 'GIWWW', 'GLAD', 'GLAQ', 'GLAQU', 'GLAQW', 'GLBE', 'GLBL', 'GLBLU', 'GLBLW', 'GLBS', 'GLBZ', 'GLDD', 'GLDI', 'GLEE', 'GLEEU', 'GLEEW', 'GLG', 'GLHA', 'GLHAU', 'GLHAW', 'GLLI', 'GLLIR', 'GLLIU', 'GLLIW', 'GLMD', 'GLNG', 'GLPG', 'GLPI', 'GLRE', 'GLSI', 'GLSPT', 'GLSPU', 'GLSPW', 'GLTO', 'GLUE', 'GLYC', 'GMAB', 'GMBL', 'GMBLP', 'GMBLW', 'GMBLZ', 'GMDA', 'GMFI', 'GMFIU', 'GMFIW', 'GMGI', 'GMTX', 'GMVD', 'GMVDW', 'GNAC', 'GNACU', 'GNACW', 'GNCA', 'GNFT', 'GNLN', 'GNMA', 'GNOM', 'GNPX', 'GNSS', 'GNTA', 'GNTX', 'GNTY', 'GNUS', 'GO', 'GOBI', 'GOCO', 'GOEV', 'GOEVW', 'GOGL', 'GOGO', 'GOOD', 'GOODN', 'GOODO', 'GOOG', 'GOOGL', 'GOSS', 'GOVX', 'GOVXW', 'GP', 'GPAC', 'GPACU', 'GPACW', 'GPCO', 'GPCOR', 'GPCOU', 'GPCOW', 'GPP', 'GPRE', 'GPRO', 'GRAB', 'GRABW', 'GRAY', 'GRCL', 'GRCY', 'GRCYU', 'GRCYW', 'GREE', 'GREEL', 'GRFS', 'GRID', 'GRIL', 'GRIN', 'GRNA', 'GRNAW', 'GRNQ', 'GRNR', 'GROM', 'GROMW', 'GROW', 'GRPH', 'GRPN', 'GRTS', 'GRTX', 'GRVI', 'GRVY', 'GRWG', 'GSAQ', 'GSAQU', 'GSAQW', 'GSBC', 'GSEV', 'GSEVU', 'GSEVW', 'GSHD', 'GSIT', 'GSM', 'GSMG', 'GSMGW', 'GSRM', 'GSRMR', 'GSRMU', 'GSRMW', 'GT', 'GTAC', 'GTACU', 'GTACW', 'GTBP', 'GTEC', 'GTH', 'GTHX', 'GTIM', 'GTLB', 'GTPA', 'GTPAU', 'GTPAW', 'GTPB', 'GTPBU', 'GTPBW', 'GTR', 'GTX', 'GTXAP', 'GTYH', 'GURE', 'GVCI', 'GVCIU', 'GVCIW', 'GVP', 'GWII', 'GWIIW', 'GWRS', 'GXII', 'GXIIU', 'GXIIW', 'GXTG', 'GYRO', 'HA', 'HAAC', 'HAACU', 'HAACW', 'HAFC', 'HAIA', 'HAIAU', 'HAIAW', 'HAIN', 'HALL', 'HALO', 'HAPP', 'HARP', 'HAS', 'HAYN', 'HBAN', 'HBANM', 'HBANP', 'HBCP', 'HBIO', 'HBNC', 'HBT', 'HCAR', 'HCARU', 'HCARW', 'HCAT', 'HCCI', 'HCDI', 'HCDIP', 'HCDIW', 'HCDIZ', 'HCIC', 'HCICU', 'HCICW', 'HCII', 'HCIIU', 'HCIIW', 'HCKT', 'HCM', 'HCMA', 'HCMAU', 'HCMAW', 'HCNE', 'HCNEU', 'HCNEW', 'HCP', 'HCSG', 'HCTI', 'HCVI', 'HCVIU', 'HCVIW', 'H